In [1]:
import numpy as np
import pandas as pd
import time

In [3]:
df = pd.read_csv("students - students.csv")

In [8]:
dff = df.iloc[0:5, 0:3]

In [9]:
dff

               name  age       sport
0  Emmanuel Ayomide   27    Football
1      Ibrahim Musa   24    Football
2         Sesan Obi   24    Swimming
3       Kevin Frank   25      Tennis
4        Emeka Jude   24  Basketball

In [4]:
for row_label, row in dff.item():
    print(row_label, row)

NameError: name 'dff' is not defined